
.bodystyle{
    background-color: #16213E;
    font-family: 'Source Sans Pro', sans-serif;
}

.headerstyle{
    background-color: #E94560;
   margin: 20%;
}

.mainstyle{
    background-color: #E94560;
    color: white;
    margin: 3%;
    padding: 7%;
    text-align: center;
    border-radius: 25px
    
}