
.bodystyle{
    background-color: #16213E;
    font-family: 'Source Sans Pro', sans-serif;
}

.headerstyle{
    background-color: #E94560;
   margin: 20%;
}

.mainstyle{
    background-color: #E94560;
    color: white;
    margin: 3%;
    padding: 7%;
    text-align: center;
    border-radius: 25px
    
}

.footerstyle{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    align-items: center;
    text-align: center;
    position:absolute;
    bottom: 0;
    width: 100%;
}

#hearticon{
    width: clamp(2%, 2%, 20%);
    vertical-align: middle;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#githublogo{
    width: clamp(3%, 5%, 11%);
    color: white;
    align-content: center;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    vertical-align: middle;
}

#help_icon{
    width: clamp(3%, 5%, 11%);
    color: white;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    -webkit-filter: invert(100%);
    filter: invert(100%); 
}

#sadsmile{
    color: gray;
    width: 8%;
    text-align: center;
    vertical-align: middle;

}

#imprint{
    color: white;
    text-align: center;
    
}